<?xml version="1.0"?>
<launch>
  <arg name="ns" default="vx300s"  doc="Namespace of the robot." />
  <arg name="name" default="robot" doc="Name of the robot. This should be unique." />
  <arg name="configuration" default="-z 0"/>

  <arg name="robot_model"                       default="vx300s"/>
  <arg name="robot_name"                        default="vx300s"/>
  <arg name="base_link_frame"                   default="base_link"/>
  <arg name="show_ar_tag"                       default="false"/>
  <arg name="show_gripper_bar"                  default="true"/>
  <arg name="show_gripper_fingers"              default="true"/>
  <arg name="use_world_frame"                   default="true"/>
  <arg name="external_urdf_loc"                 default=""/>
  <arg name="use_rviz"                          default="false"/>
  <arg name="dof"                               default="6"/>

  <group ns="$(arg ns)">
    <env name="GAZEBO_RESOURCE_PATH"              value="$(find interbotix_xsarm_gazebo)"/>

    <rosparam file="$(find interbotix_xsarm_gazebo)/config/trajectory_controllers/$(arg robot_model)_trajectory_controllers.yaml" command="load" ns="$(arg robot_name)"/>

    <node
      name="controller_spawner"
      pkg="controller_manager"
      type="controller_manager"
      respawn="false"
      output="screen"
      ns="$(arg robot_name)"
      args="spawn arm_controller gripper_controller joint_state_controller"/>

    <include file="$(find interbotix_xsarm_descriptions)/launch/xsarm_description.launch">
      <arg name="robot_model"                       value="$(arg robot_model)"/>
      <arg name="robot_name"                        value="$(arg robot_name)"/>
      <arg name="base_link_frame"                   value="$(arg base_link_frame)"/>
      <arg name="show_ar_tag"                       value="$(arg show_ar_tag)"/>
      <arg name="show_gripper_bar"                  value="$(arg show_gripper_bar)"/>
      <arg name="show_gripper_fingers"              value="$(arg show_gripper_fingers)"/>
      <arg name="load_gazebo_configs"               value="true"/>
      <arg name="use_world_frame"                   value="$(arg use_world_frame)"/>
      <arg name="external_urdf_loc"                 value="$(arg external_urdf_loc)"/>
      <arg name="use_rviz"                          value="$(arg use_rviz)"/>
    </include>

    <node
      name="urdf_spawner"
      pkg="gazebo_ros"
      type="spawn_model"
      respawn="false"
      output="screen"
      ns="$(arg robot_name)"
  	  args="-urdf -model $(arg robot_model) -param robot_description"/>
  </group>

</launch>
