<robot name="multisense" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:arg name="gazebo"                  default="false"/>
  <xacro:property name="load_gazebo" value="$(arg gazebo)"/>

  <!-- import the camera -->
  <xacro:include filename="$(find eager_sensor_multisense_s21)/urdf/s21.urdf.xacro" />

  <link name="world"/>

  <!-- camera -->
  <xacro:sensor_s21 parent="world"/>

  <xacro:if value="${load_gazebo}">
    <xacro:include filename="$(find eager_sensor_multisense_s21)/urdf/s21.gazebo.xacro" />
    <xacro:s21_gazebo/>
  </xacro:if>
</robot>
