<?xml version="1.0"?>
<launch>
  <arg name="ns" default="realsense"  doc="Namespace of the robot." />
  <arg name="name" default="robot" doc="Name of the robot. This should be unique." />
  <arg name="configuration" default="-z 0"/>

  <!-- Robot state publisher -->
  <group ns="$(arg ns)">
    <param name="robot_description"
          command="$(find xacro)/xacro '$(find eager_sensor_realsense)/urdf/realsense.urdf.xacro'"/>
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="state_publisher">
      <param name="publish_frequency" type="double" value="30.0" />
    </node>

    <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
      args="-urdf -param robot_description -model $(arg name) $(arg configuration)"/>
  </group>
</launch>
