<?xml version="1.0"?>
<launch>
    <arg name="gui" default="false"/>
    <arg name="robot_ip" default="192.168.102"/>
    
    <!-- Bring up UR5 -->
    <include file="$(find ur_modern_driver)/launch/ur5_bringup.launch">
    	<arg name="robot_ip" value="$(arg robot_ip)"/>
    </include>
    
    <!-- Launch UR5 MoveIt -->
    <include file="$(find ur5_moveit_config)/launch/ur5_moveit_planning_execution.launch" />
    
    <node name="ur5e_example" pkg="ur5e_example" type="example.py" output="screen"/>
    <node name="physics_bridge" pkg="physics_bridge" type="physics_bridge_node_real.py" output="screen"/>
</launch>
