<?xml version="1.0"?>
<launch>
  <arg name="ns" default="realsense"  doc="Namespace of the robot." />
  <arg name="name" default="robot" doc="Name of the robot. This should be unique." />

  <!-- Robot state publisher -->
  <group ns="$(arg ns)">
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
      <arg name="color_width"         value="1280"/>
      <arg name="color_height"        value="720"/>
    </include>

    <param name="robot_description"
          command="$(find xacro)/xacro '$(find eager_sensor_realsense)/urdf/realsense.urdf.xacro'"/>
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="state_publisher">
      <param name="publish_frequency" type="double" value="30.0" />
    </node>
  </group>
</launch>
