<?xml version="1.0"?>
<launch>
    <arg name="no_gui" default="false" doc="Start Webots with minimal GUI"/>
    <include file="$(find webots_ros)/launch/webots.launch">
        <arg name="mode" value="fast"/>
        <arg name="no_gui" value="$(arg no_gui)"/>
        <arg name="world" value="$(find ur5e_example)/worlds/ur5e.wbt"/>
    </include>
    <node name="ur5e_example" pkg="ur5e_example" type="example.py" output="screen"/>
    <node name="physics_bridge" pkg="physics_bridge" type="physics_bridge_node.py" output="screen"/>
</launch>