<?xml version="1.0"?>
<launch>
  <arg name="ns" default="vx300s"  doc="Namespace of the robot." />
  <arg name="name" default="robot" doc="Name of the robot. This should be unique." />

  <arg name="robot_model"                       default="vx300s"/>
  <arg name="robot_name"                        default="vx300s"/>
  <arg name="dof"                               default="6"/>

  <group ns="$(arg ns)">
  	<include file="$(find interbotix_xsarm_ros_control)/launch/xsarm_ros_control.launch">
      <arg name="robot_model" value="$(arg robot_model)"/>
      <arg name="robot_name" value="$(arg robot_name)"/>
      <arg name="dof" value="$(arg dof)"/>
    </include>
  </group>

</launch>
